


<!DOCTYPE html>
<html lang="vi" xml:lang="vi">

<!-- Mirrored from ewarehouse.glc.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Aug 2024 03:18:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>
        Trang chủ
    </title>
    <meta name="description" content="Trang chủ" />
    <meta name="keywords" content="Trang chủ" />
    <link rel="canonical" href="index.html" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" />
    <meta itemprop="description" />
    <meta itemprop="image" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Trang chủ" />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" />
    <meta property="og:description" content="Trang chủ" />
    <meta property="og:site_name" content="ewarehouse.glc.com.vn" />
    <meta property="fb:app_id" content="732073643588940" />
    <meta property="og:type" name="og_type" content="article" />
    <meta property="og:locale:alternate" content="vi_VN" />
    <meta property="article:author" content="https://www.facebook.com/ewarehouse.glc.com.vn" />
    <meta property="article:publisher" content="https://www.facebook.com/ewarehouse.glc.com.vn" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="1net.vn" />
    <meta name="copyright" content="Design © by 2020 1net.vn" />
    <meta name="generator" content="1net.vn" />
    <meta name="language" content="vietnamese" />
    <meta name="geo.region" content="Vietnamese" />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="index,follow" />
    <link href="Content/pc/images/favicon.html" rel="shortcut icon" type="image/x-icon" />
    <link rel="dns-prefetch" href="http://cdn.jsdelivr.net/" />
    <link rel="dns-prefetch" href="http://cdnjs.cloudflare.com/" />
    <link rel="dns-prefetch" href="http://maxcdn.bootstrapcdn.com/" />
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/" />
    <link rel="dns-prefetch" href="http://zalo.me/" />
    <link rel="dns-prefetch" href="http://stc.sp.zdn.vn/" />
    <link rel="dns-prefetch" href="http://img.youtube.com/" />
    <link rel="dns-prefetch" href="http://ajax.googleapis.com/" />
    <link rel="dns-prefetch" href="http://fonts.gstatic.com/" />
    <link rel="dns-prefetch" href="http://scontent-ort2-1.xx.fbcdn.net/" />



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/Areas/Content/pc/js/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "CKjOe06GxAOe3Dj9NaWPCQKtqvqQdyFV8z9wsg==";</script>

    <link type="text/css" href="~/Areas/Content/utils/zebradialog/default/zebradialog.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/Content/utils/owl.carousel/owl.carousel.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/Content/utils/owl.carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/Content/utils/menulink/jquery.mmenu.all.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/Content/utils/datepicker/datetimepicker.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/Content/pc/style.css" rel="stylesheet" />
    <style>
        .flexContent {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
</head>
<body id="body" >

    <div class="Wrapper flexContent">
        <header id="header">
            <section class="hea-banner">
                <div class="container">
                    <div class="row">
                        <div class="nav-btn-show fl hidden-lg hidden-md ">
                            <a href="#my-mobile-menu" class="sidebar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </div>
                        <div class="logo">
                            <h1 class="logo-text"></h1><a href="@Url.Action("Index","Home")" target="" rel="nofollow"><img src="~/Areas/Data/upload/files/imageedit_1_5875786148.png" alt="logo" width="100%" height="auto" /></a>
                        </div>
                        <div class="hea-right fr">

                            <div class="clear"></div>
                            <p class="btn btn-tc mt5">Khách truy cập: 8.965 - Online: 1</p>
                            <p class="acc-box btn btn-tc mt5">
                                <a href="#">Chào bạn, tuan.it@viconship.com</a>
                                <a href="@Url.Action("Logout","Login")">Đăng xuất</a>
                            </p>


                        </div>
                    </div>
                </div>
            </section>

            <nav class="wh-menu">
                <div class="container">
                    <div id="mainMenu">
                        <ul class="navmenu">

                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>

                            <li><a href="@Url.Action("Index","HuongDan")">Hướng dẫn </a></li>

                            <li><a href="@Url.Action("Index","DangKy")">Đăng ký</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="content-main">
       @RenderBody()
        </main>
        <footer id="footer">
            <section class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="box_info_company col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <div class="title_name_ft ">CÔNG TY TNHH MTV TRUNG TÂM LOGISTICS XANH</div>
                            <div class="info_row"><i class="fa fa-ship"></i>Lô đất CN3.2G KCN Đình Vũ, Phường Đông Hải 2, Quận Hải An, Thành phố Hải Phòng</div>
                            <div class="info_row "><i class="fa fa-globe"></i>http://ewarehouse.glc.com.vn</div>
                            <div class="info_row "><i class="fa fa-envelope-o"></i>Email: info@glc.com.vn</div>
                            <div class="info_row"><i class="fa fa-whatsapp"></i>Điện thoại: (84-225) 3979 550 - (84-225) 3262 156</div>
                            <div class="info_row "><i class="fa fa-fax"></i>Fax:  (84-225) 3200 039</div>
                            <div class="info_row "><i class="fa fa-map-marker"></i><a href="#">Xem bản đồ</a></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="title_name_ft ">Tương tác mạng xã hội</div>
                            <div class="vnt-social-network">
                                <a href="#" target="_blank">
                                    <img src="~/Areas/Content/pc/images/ic_face.png">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="~/Areas/Content/pc/images/ic_twitter.png">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="~/Areas/Content/pc/images/ic_google.png">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="~/Areas/Content/pc/images/ic_youtube.png">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="~/Areas/Content/pc/images/ic_p.png">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="~/Areas/Content/pc/images/ic_in.png">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="~/Areas/Content/pc/images/ic_insta.png">
                                </a>
                            </div>
                            <div class="copyright"><b>COPYRIGHT  © 2017 CÔNG TY TNHH MTV TRUNG TÂM LOGISTICS XANH</b></div>
                            <p class="txtft">Theo dõi bản tin email của chúng tôi để biết thông tin thú vị và tin tức, gửi ra mỗi tháng.</p>
                            <div class="box_maillist">
                                <div class="maillist">
                                    <input type="text" class="input_text form-control" placeholder="Nhập mail của bạn vào đây" value="">
                                    <input class="button-sent" type="submit" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <div class="back-to-top"><a href="javascript:void(0)" rel="nofollow"><span class="fa fa-angle-up fa-2x"></span></a></div>

    
    <script type="text/javascript" src="~/Areas/Content/pc/js/app.pack.js"></script>
    <script type="text/javascript" src="Content/pc/js/data.ajax.js"></script>

    <script type="text/javascript" src="~/AreasContent/utils/owl.carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/AreasContent/utils/menulink/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="~/AreasContent/utils/datepicker/datetimepicker.full.min.js"></script>

    <script type="text/javascript" src="~/AreasContent/pc/js/library.js"></script>





</body>

<!-- Mirrored from ewarehouse.glc.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Aug 2024 03:18:53 GMT -->
</html>
<!--Copyright © by ONENET.,JSC - https://1net.vn/-->